#lineup { list-style-type: none; margin: 0; padding: 0; width: 48%; }
#lineup li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
#lineup li span { position: absolute; margin-left: -1.3em; }

#positions { list-style-type: none; margin: 0; padding: 0; width: 48%;}
#positions li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
#positions li span { position: absolute; margin-left: -1.3em; }